<p-panel header="Gestión de tramites" [toggleable]="true">
    <ng-template #icons>
        <p-button icon="pi pi-cog" severity="secondary" rounded text (onClick)="menuTramites.toggle($event)"/>
        <p-menu #menuTramites id="MenuTramites" [model]="opciones" [popup]="true"></p-menu>
    </ng-template>
</p-panel>
<hr/>
<p-message severity="warning" *ngIf="tramites.length<=0">No se han definido tramites</p-message>
<p-message severity="warning" *ngIf="tramites.length>0 && tramitesFiltro.length<=0">No se han encontrado tramites con el filtro indicado</p-message>
<p-table [value]="tramitesFiltro" *ngIf="tramitesFiltro.length>0">
    <ng-template #header>        
        <tr>
            <th>
                Id.
            </th>
            <th>
                Nombre
            </th>
            <th>
                Descripcion
            </th>
            <th></th>
        </tr>          
    </ng-template>
    <ng-template #body let-tramites>
        <tr>
            <td>
                {{tramites.id}}
            </td>
            <td>
                {{tramites.nombre}}
            </td>
            <td>
                {{tramites.descripcion}}
            </td>
            <th>
                <p-button icon="pi pi-book" aria-label="Ver ficha" pTooltip="Ver ficha de tramitación" [routerLink]="`tramite/${tramites.id}`"/>
            </th>
        </tr>
    </ng-template>
</p-table>
