<p-card>
    <ng-template #header>

    </ng-template>
    <ng-template #title>
        Buscador del callejero
    </ng-template>
    <ng-template #subtitle>
        <p-menubar [model]="BuscadorHerramientasItem"></p-menubar>
    </ng-template>
    <p-panel [collapsed]="true" header="Panel de busqueda" [toggleable]="true">
        <ng-template #header>
            <br/>
            <p-floatlabel>
                <input pInputText fluid id="TBoxNombreVia" [(ngModel)]="filtro.nombre"/>
                <label for="TBoxNombreVia">Nombre via</label>
            </p-floatlabel>            
        </ng-template>
        <br/>
        <p-floatlabel>
            <app-selec-tipos-vias-component [multiple]="true" [id]="'SlcBusqVias'" [(seleccionados)]="filtro.tiposVia" fluid></app-selec-tipos-vias-component>
            <label for="SlcBusqVias">Tipo via</label>
        </p-floatlabel>
        <br/>
        <br/>
        <p-tabs>
            <p-tablist>
                <p-tab value="0">Entidades territoriales</p-tab>
                <p-tab value="1">Calles superiores</p-tab>
                <p-tab value="2">Calles dependientes</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                    
                </p-tabpanel>
                <p-tabpanel value="1">
                    
                </p-tabpanel>
                <p-tabpanel value="2">
                    
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
    </p-panel>
    @if(resultado.length<=0) {
        <p-message>No se han encontrado ninguna via con los criterios seleccionados</p-message>
    }
    @else {
        <p-table [value]="resultado">
            <ng-template #header>
                <tr>
                    <th>Tipo via</th>
                    <th>Via</th>
                    <th>Entidad territorial</th>
                    <th></th>
                </tr>                
            </ng-template>
            <ng-template #body let-via>
                <tr>
                    <td>
                        {{via.tipoVia?.nombre}}
                    </td>
                    <td>
                        {{via.nombre}}
                    </td>
                    <td>
                        {{via.entidadTerritorial?.nombre}}
                    </td>
                    <td>
                        <p-button icon="pi pi-check" (onClick)="Seleccion(via)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    }
</p-card>