<p-panel header="Filtros" [toggleable]="true">
    <div class="grid grid-cols-2 gap-4">
        <div>
            <label for="TBoxFilterCodigo">Código</label>
            <input type="text" name="TBoxFilterCodigo" fluid [(ngModel)]="FiltroCodigo"/>
        </div>
        <div>
            <label for="TBoxFiltroNombre">Nombre</label>
            <input type="text" name="TBoxFiltroNombre" fluid [(ngModel)]="FiltroNombre"/>
        </div>
    </div>
</p-panel>
<p-table [value]="ElementosFiltrados" *ngIf="ElementosFiltrados.length>0">
    <ng-template #header>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
        </tr>
    </ng-template>
    <ng-template #body let-elemento>
        <tr [pSelectableRow]="ElementoSeleccionado">
            <td>{{elemento.codigo}}</td>
            <td>{{elemento.nombre}}</td>
        </tr>
    </ng-template>
</p-table>
<p-message severity="warn" *ngIf="Elementos.length<=0">No se han encontrado elementos para este usuario</p-message>
<p-message severity="warn" *ngIf="Elementos.length>0 && ElementosFiltrados.length<=0">No se han encontrado elementos para el filtro aplicado</p-message>