<p-card>
    <ng-template #header>

    </ng-template>
    <ng-template #title>
        Lista de idiomas del sistema
    </ng-template>
    <ng-template #subtitle>

    </ng-template>
    <p-table [value]="idiomas">
        <ng-template #header>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Opciones</th>
            </tr>
        </ng-template>
        <ng-template #body let-idioma>
            <tr>
                <td>{{idioma.codigo}}</td>
                <td>{{idioma.nombre}}</td>
                <td></td>
            </tr>
        </ng-template>
    </p-table>
</p-card>   
