<form>
    <p-card>
        <ng-template #header>

        </ng-template>
        <ng-template #title>
            Validar usuario
        </ng-template>
        <ng-template #subtitle>
             <p-fluid>
                <label for="ChkValidarComoMaquina" class="ml-2">Validar como máquina</label>
                <p-toggleswitch id="ChkValidarComoMaquina" name="ChkValidarComoMaquina" [(ngModel)]="ValidarComoMaquina"/>
            </p-fluid>
        </ng-template>
         <p-fluid [style.display]="!ValidarComoMaquina?'block':'none'">
            <p-divider></p-divider>            
            <br/>
            <p-floatLabel variant="on">
                <p-iconfield>
                    <p-inputicon class="pi pi-user"></p-inputicon>
                    <input id="NombreUsuario" name="usuario" pInputText [(ngModel)]="login.usuario"/>
                </p-iconfield>
                <label for="NombreUsuario">Usuario:</label>
            </p-floatLabel>            
            <br/>
            <p-floatLabel variant="on">                                
                <p-password id="PasswordUsuario" name="password" [(ngModel)]="login.password" [toggleMask]="true" [feedback]="false"/>
                <label for="PasswordUsuario">Password:</label>
            </p-floatLabel>
            <p-divider></p-divider>                
        </p-fluid>
        <p-fluid [style.display]="ValidarComoMaquina?'block':'none'">
            <p-divider></p-divider>    
            <p-floatLabel variant="on">
                <input id="TokenMaquina" name="TokenMaquina" pInputText [(ngModel)]="token"/>
                <label for="TokenMaquina">Token:</label>
            </p-floatLabel>
            <p-divider></p-divider>
        </p-fluid>        
        <ng-template #footer>
            <p-divider></p-divider>
            <p-button label="Validar" variant="outlined" severity="success" [rounded]="true" icon="pi pi-check" (click)="ValidarUsuario()"></p-button>
            &nbsp;
            <p-button label="Cancelar" variant="outlined" severity="danger" [rounded]="true" icon="pi pi-times" (click)="CerrarModal()"></p-button>
        </ng-template>
    </p-card>
   
</form>