<p-table [columns]="columnas" [value]="filas">
    <ng-template #header let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.texto}}
            </th>
        </tr>
    </ng-template>
    <ng-template #body let-rowData>
        <tr>
            <!--La primera fila es la cabecera-->
            <td>
                {{rowData.texto}}
            </td>
            <td *ngFor="let c of rowData.relacion">
                {{c}}
            </td>
        </tr>
    </ng-template>
</p-table>
