<p-stepper [value]="1">
    <p-step-list>
        <p-step [value]="1">Datos básicos</p-step>
        <p-step [value]="2">Propiedades</p-step>
        <p-step [value]="3">Elementos</p-step>
        <p-step [value]="4">Grupos de permisos</p-step>
        <p-step [value]="5">Resumen</p-step>
    </p-step-list>
    <p-step-panels>
        <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
                <div style="min-height: 300px;">

                </div>
                <div class="flex pt-6 justify-between">                
                    <p-button label="Siguiente" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(2)" />
                </div>
            </ng-template>
        </p-step-panel>
        <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
                <div style="min-height: 300px;">

                </div>
                <div class="flex pt-6 justify-between">
                    <p-button label="Atrás" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1)" />
                    <p-button label="Siguiente" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)" />
                </div>
            </ng-template>
        </p-step-panel>
        <p-step-panel [value]="3">
            <ng-template #content let-activateCallback="activateCallback">
                <div style="min-height: 300px;">

                </div>
                <div class="flex pt-6 justify-between">
                    <p-button label="Atrás" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(2)" />
                    <p-button label="Siguiente" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(4)" />
                </div>
            </ng-template>
        </p-step-panel>
        <p-step-panel [value]="4">
            <ng-template #content let-activateCallback="activateCallback">
                <div style="min-height: 300px;">

                </div>
                <div class="flex pt-6 justify-between">
                    <p-button label="Atrás" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(3)" />
                    <p-button label="Siguiente" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(5)" />
                </div>
            </ng-template>
        </p-step-panel>
        <p-step-panel [value]="5">
           <ng-template #content let-activateCallback="activateCallback">
                <div style="min-height: 300px;">

                </div>
                <div class="flex pt-6 justify-between">
                    <p-button label="Atrás" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(4)" />
                    <p-button label="Siguiente" icon="pi pi-arrow-right" iconPos="right" (onClick)="AltaApliacion()" />
                </div>
            </ng-template>
        </p-step-panel>
    </p-step-panels>
</p-stepper>