/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

:root {
    --bg-color-dark:#001100;

    --bg-color-medium:#002211;

    --accent-neon-green:#00FF33;

    --accent-neon-subtitle:#00CC44;

    --text-primary-green:#00FF33;

    --text-subtle-code:#005511;
}

body {
    background-color: var(--bg-color-dark);
    font-family: 'Courier New', Courier, monospace;
}