<p-menubar [model]="OpcionesAplicaciones"></p-menubar>
<hr/>
<p-table [value]="Aplicaciones()" [size]="'small'" stripedRows>
    <ng-template #header>
        <tr>
            <th>Id</th>
            <th>Código</th>
            <th>Nombre</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-aplicacion>
        <tr>
            <td>{{aplicacion.id}}</td>
            <td>{{aplicacion.codigo}}</td>
            <td>{{aplicacion.nombre}}</td>
            <td><p-button [routerLink]="`/administracion/aplicacion/${aplicacion.id}`" size="small">Ficha</p-button></td>
        </tr>
    </ng-template>
</p-table>