<p-panel header="Administración de aplicaciones" [toggleable]="true">
     <ng-template #icons>
        <p-button icon="pi pi-cog" severity="secondary" rounded text (onClick)="menuAdministracionAplicaciones.toggle($event)"/>
        <p-menu #menuAdministracionAplicaciones id="MenuTramites" [model]="OpcionesAplicaciones" [popup]="true"></p-menu>
    </ng-template>
    <p-fluid>
        <div class="grid grid-cols2 gap4">
            <div>
                 <p-floatlabel>
                    <input id="busPorId" pInputText [(ngModel)]="filtro.PorId" (ngModelChange)="FiltrarAplicaciones()" fluid/>
                    <label for="busPorId">Por ID</label>
                </p-floatlabel>
            </div>
            <div>
                <p-floatlabel>
                    <input id="busPorCod" pInputText [(ngModel)]="filtro.PorCodigo" (ngModelChange)="FiltrarAplicaciones()" fluid/>
                    <label for="busPorCod">Por Código</label>
                </p-floatlabel>
            </div>
            <div class="col-span-full">
                <p-floatlabel>
                    <input id="busPorNom" pInputText [(ngModel)]="filtro.PorNombre" (ngModelChange)="FiltrarAplicaciones()" fluid/>
                    <label for="busPorNom">Por nombre</label>
                </p-floatlabel>    
            </div>
        </div>
    </p-fluid>
    <p-message severity="warning" *ngIf="AplicacionesFiltro().length>0 && AplicacionesFiltro().length<=0">No hay aplicaciones con las condiciones de filtro</p-message>
</p-panel>
<p-table [value]="AplicacionesFiltro()" [size]="'small'" stripedRows>
    <ng-template #header>
        <tr>
            <th>Id</th>
            <th>Código</th>
            <th>Nombre</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-aplicacion>
        <tr>
            <td>{{aplicacion.id}}</td>
            <td>{{aplicacion.codigo}}</td>
            <td>{{aplicacion.nombre}}</td>
            <td><p-button [routerLink]="`/administracion/aplicacion/${aplicacion.id}`" size="small">Ficha</p-button></td>
        </tr>
    </ng-template>
</p-table>