<p-button [link]="true" (onClick)="MuestraOpcionesLogin();menu.toggle($event);">
    @if(usuarioValido() && usuario()!=undefined) {
        @if(imgAvatar()!="") {
            <p-avatar [image]="imgAvatar()" styleClass="mr-2" size="normal" shape="circle" [pTooltip]="`${usuario()?.apellido1} ${usuario()?.apellido2}, ${usuario()?.nombre}`"/>
        }
        @else {
            <p-avatar [label]="`${usuario()?.nombre?.substring(0,1)?.toUpperCase()}${usuario()?.apellido1?.substring(0,1)?.toUpperCase()}`" styleClass="mr-2" size="normal" shape="circle" [pTooltip]="`${usuario()?.apellido1} ${usuario()?.apellido2}, ${usuario()?.nombre}`"/>
        }
    }
    @else {
        <p-avatar label="Li" styleClass="mr-2" size="normal" shape="circle" pTooltip="Usuario invitado"/>
    }
</p-button>
<!--<p-contextmenu [target]="avatar" [model]="OpcionesUsuario" [global]="true"/>-->
<p-tieredmenu #menu [model]="OpcionesUsuario" [popup]="true"></p-tieredmenu>